[submodule "Targets/IRobot/.vim/bundle/nerdtree"]
	path = Targets/IRobot/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
	branch = master
[submodule "Targets/IRobot/.vim/bundle/vim"]
	path = Targets/IRobot/.vim/bundle/vim
	url = https://github.com/dracula/vim.git
	branch = master
[submodule "Targets/IRobot/.vim/bundle/vim-airline"]
	path = Targets/IRobot/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule "Targets/IRobot/.vim/bundle/command-t"]
	path = Targets/IRobot/.vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
	branch = master
[submodule "Targets/IRobot/ohmyzsh"]
	path = Targets/IRobot/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
[submodule "Targets/IRobot/.vim/bundle/vim-commentary"]
	path = Targets/IRobot/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	branch = master
[submodule "Targets/Mib/.vim/bundle/vim"]
	path = Targets/Mib/.vim/bundle/vim
	url = https://github.com/dracula/vim.git
	branch = master
[submodule "Targets/Mib/.vim/bundle/nerdtree"]
	path = Targets/Mib/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
	branch = master
[submodule "Targets/Mib/.vim/bundle/vim-airline"]
	path = Targets/Mib/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule "Targets/Mib/.vim/bundle/vim-commentary"]
	path = Targets/Mib/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	branch = master
[submodule "Targets/Mib/.vim/bundle/command-t"]
	path = Targets/Mib/.vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
	branch = main
[submodule "Targets/Mib/ohmyzsh"]
	path = Targets/Mib/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
[submodule "Targets/IRobot/.vim/bundle/--force"]
	path = Targets/IRobot/.vim/bundle/--force
	url = https://github.com/posva/vim-vue.git
	branch = master
[submodule "Targets/IRobot/.vim/bundle/vim-vue"]
	path = Targets/IRobot/.vim/bundle/vim-vue
	url = https://github.com/posva/vim-vue.git
	branch = master
