[credential]
	helper = cache --timeout=3600
[color]
	ui = true
[user]
	name = Guillaume Wells
	email = wellsguillaume@gmail.com
[core]
	editor = vim
	excludesfile = /home/bulliby/.gitignore_global
[pull]
	ff = only
